<ng-container>
    <section class="git">
        <h1>Glossary</h1>
        <br>        
        <ul>
            <li>
                <p><strong>git</strong>: an open source, distributed version-control system</p>
            </li>
            <li>
                <p><strong>GitHub</strong>: a platform for hosting and collaborating on Git repositories</p>
            </li>
            <li>
                <p><strong>commit</strong>: a Git object, a snapshot of your entire repository compressed into a SHA</p>
            </li>
            <li>
                <p><strong>branch</strong> a lightweight movable pointer to a commit</p>
            </li>
            <li>
                <p><strong>clone</strong>: a local version of a repository, including all commits and branches</p>
            </li>
            <li>
                <p><strong>remote</strong>: a common repository on GitHub that all team members use to exchange their changes</p>
            </li>
            <li>
                <p><strong>fork</strong>: a copy of a repository on GitHub owned by a different user</p>
            </li>
            <li>
                <p><strong>pull request</strong>: a place to compare and discuss the differences introduced on a branch with reviews, comments, integrated tests, and more</p>
            </li>
            <li>
                <p><strong>HEAD</strong>: representing your current working directory, the HEAD pointer can be moved to different branches, tags, or commits when using <code>git switch</code></p>
            </li>
        </ul>
    </section>
</ng-container>