<ng-container>
    <section class="git">
        <h1>Merge Conflicts</h1>
        <br>        
        <p><strong>What is a merge conflict?</strong> When you work with a team (and even sometimes when you are working alone) you will occasionally create merge conflicts. At first, merge conflicts can be intimidating, but resolving them is actually quite easy.</p>
        <h3>Resolving a merge conflict</h3>
        <ol>
            <li>Open that file in your text editor, and look for the merge conflict markers. <strong>(<<<<<<<, =======, >>>>>>>)</strong></li>
            <li>Both branches' versions of code are present - pick which one you want to keep, and save the changes.</li>
            <li>Add and commit the saved changes to resolve the merge conflict.</li>
            <li>Push the feature branch up to the remote, and see the resolution in the pull request.</li>
            <li>Merge the pull request.</li>
        </ol>
    </section>
</ng-container>