<ng-container>
    <section>
        <h1>Forgot to create a branch</h1>
        <br>        
        <p>If you begin working, but you are still on <code>main</code>, don’t panic! Changes aren't “on” a branch until they are committed.</p>
        <p> Your working directory and staging area are attached to <code>HEAD</code>, not a branch. So, you can change branches, and any changes that are not committed will come with you.</p>

        <ol>
            <li>Type <code>git status</code>, and notice changes in your working directory</li>
            <li>Create a new branch with <code>git switch -c BRANCH-NAME</code></li>
            <li>Type <code>git status</code> again, to notice which branch you are on, and your working directory</li>
        </ol>

    </section>
</ng-container>