<ng-container>
    <section>
        <h1>Style Rules</h1>
        <br>
        <p>Style rules are the foundation of Sass, just like they are for CSS. And they work the same way: you choose which elements to style with a selector, and declare properties that affect how those elements look.</p>

        <h3>SCSS</h3>
        <code-example code="
        .button {
            padding: 3px 10px;
            font-size: 12px;
            border-radius: 3px;
            border: 1px solid #e1e4e8;
          }
        "></code-example>

        <br>
        <h3>Sass</h3>
        <code-example code="
        .button
            padding: 3px 10px
            font-size: 12px
            border-radius: 3px
            border: 1px solid #e1e4e8
        "></code-example>

        <br>
        <h3>CSS</h3>
        <code-example code="
        .button {
            padding: 3px 10px;
            font-size: 12px;
            border-radius: 3px;
            border: 1px solid #e1e4e8;
          }
        "></code-example>


        <mat-accordion>
            <ng-container *ngTemplateOutlet="nestingTmplt"></ng-container>
            <ng-container *ngTemplateOutlet="interpolationTmplt"></ng-container>
        </mat-accordion>
    
    </section>
</ng-container>


<ng-template #nestingTmplt>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Nesting
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-container #content>
            <ng-container #description>
                <p>But Sass wants to make your life easier. Rather than repeating the same selectors over and over again, you can write one style rules inside another. Sass will automatically combine the outer rule’s selector with the inner rule’s.</p>

                <h3>SCSS</h3>
                <code-example code='
                nav {
                    ul {
                      margin: 0;
                      padding: 0;
                      list-style: none;
                    }
                  
                    li { display: inline-block; }
                  
                    a {
                      display: block;
                      padding: 6px 12px;
                      text-decoration: none;
                    }
                  }
                '></code-example>

                <br>
                <h3>Sass</h3>
                <code-example code='
                nav
                    ul
                        margin: 0
                        padding: 0
                        list-style: none
                
                    li
                        display: inline-block
                
                    a
                        display: block
                        padding: 6px 12px
                        text-decoration: none
                '></code-example>

                <br>
                <h3>CSS</h3>
                <code-example code='
                nav ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                  }
                  nav li {
                    display: inline-block;
                  }
                  nav a {
                    display: block;
                    padding: 6px 12px;
                    text-decoration: none;
                  }
                  
                '></code-example>

                <p class="note">Nested rules are super helpful, but they can also make it hard to visualize how much CSS you’re actually generating. The deeper you nest, the more bandwidth it takes to serve your CSS and the more work it takes the browser to render it. Keep those selectors shallow!</p>
            
            
                  
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Selector Lists
                      </mat-panel-title>
                    </mat-expansion-panel-header>
            
                    <ng-container #content_1>
                        <ng-container #description_1>
                            <p>Nested rules are clever about handling selector lists (that is, comma-separated selectors). Each complex selector (the ones between the commas) is nested separately, and then they’re combined back into a selector list.</p>

                            <h3>SCSS</h3>
                            <code-example code='
                            .alert, .warning {
                                ul, p {
                                  margin-right: 0;
                                  margin-left: 0;
                                  padding-bottom: 0;
                                }
                              }
                            '></code-example>

                            <br>
                            <h3>Sass</h3>
                            <code-example code='
                            .alert, .warning
                                ul, p
                                    margin-right: 0
                                    margin-left: 0
                                    padding-bottom: 0
                            '></code-example>

                            <br>
                            <h3>CSS</h3>
                            <code-example code='
                            .alert ul, .alert p, .warning ul, .warning p {
                                margin-right: 0;
                                margin-left: 0;
                                padding-bottom: 0;
                              }
                              
                            '></code-example>
                        </ng-container>
                    </ng-container>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Selector Combinators
                      </mat-panel-title>
                    </mat-expansion-panel-header>
            
                    <ng-container #content_2>
                        <ng-container #description_2>
                            <p>You can nest selectors that use combinators as well. You can put the combinator at the end of the outer selector, at the beginning of the inner selector, or even all on its own in between the two.</p>

                            <h3>SCSS</h3>
                            <code-example code='
                            ul > {
                                li {
                                  list-style-type: none;
                                }
                              }
                              
                              h2 {
                                + p {
                                  border-top: 1px solid gray;
                                }
                              }
                              
                              p {
                                ~ {
                                  span {
                                    opacity: 0.8;
                                  }
                                }
                              }
                            '></code-example>

                            <br>
                            <h3>Sass</h3>
                            <code-example code='
                            ul >
                                li
                                    list-style-type: none
                            
                            
                            
                            h2
                                + p
                                    border-top: 1px solid gray
                            
                            
                            
                            p
                                ~
                                    span
                                        opacity: 0.8
                          
                            '></code-example>
                        </ng-container>
                    </ng-container>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Advanced Nesting
                      </mat-panel-title>
                    </mat-expansion-panel-header>
            
                    <ng-container #content_3>
                        <ng-container #description_3>
                            <p>If you want to do more with your nested style rules than just combine them in order with the descendant combinator (that is, a plain space) separating them, Sass has your back. See the parent selector documentation for more details.</p>
                        </ng-container>
                    </ng-container>
                </mat-expansion-panel>
                  
            
            </ng-container>
        </ng-container>
    </mat-expansion-panel>
</ng-template>

<ng-template #interpolationTmplt>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Interpolation
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-container #content>
            <ng-container #description>
                <p>You can use <strong>interpolation</strong> to inject values from <strong>expressions</strong> like variables and function calls into your selectors. This is particularly useful when you’re writing <strong>mixins</strong>, since it allows you to create selectors from parameters your users pass in.</p>
                
                <h3>SCSS</h3>
                <code-example code='
                @mixin define-emoji($name, $glyph) {
                    span.emoji-#{$name} {
                      font-family: IconFont;
                      font-variant: normal;
                      font-weight: normal;
                      content: $glyph;
                    }
                  }
                  
                  @include define-emoji("women-holding-hands", "👭");
                '></code-example>

                <br>
                <h3>Sass</h3>
                <code-example code='
                @mixin define-emoji($name, $glyph)
                    span.emoji-#{$name}
                        font-family: IconFont
                        font-variant: normal
                        font-weight: normal
                        content: $glyph
              
              
              
                @include define-emoji("women-holding-hands", "👭")
                '></code-example>

                <br>
                <h3>CSS</h3>
                <code-example code='
                @charset "UTF-8";
                span.emoji-women-holding-hands {
                  font-family: IconFont;
                  font-variant: normal;
                  font-weight: normal;
                  content: "👭";
                }
                '></code-example>

                <p class="note">Sass only parses selectors after interpolation is resolved. This means you can safely use interpolation to generate any part of the selector without worrying that it won’t parse.</p>
                <p>You can combine interpolation with the parent selector &, the <strong>@at-root rule</strong>, and <strong>selector functions</strong> to wield some serious power when dynamically generating selectors. For more information, see the <strong>parent selector documentation</strong>.</p>
            </ng-container>
        </ng-container>
    </mat-expansion-panel>
</ng-template>
