<ng-container>
    <section>
        <h1>Fundamentals</h1>
        <!-- <mat-accordion>
          <ng-container *ngTemplateOutlet="introTmplt"></ng-container>
        </mat-accordion> -->

       <ul>
         <li><a href="https://javascript.info/intro" target="_blank">Introduction</a></li>
       </ul>
    </section>
</ng-container>



<!-- <ng-template #introTmplt>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Introduction
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-container #overviewContent>
            <ng-container #description>
            </ng-container>
        </ng-container>
      </mat-expansion-panel>
</ng-template> -->