<ng-container>
    <section>
        <h1>Git stash</h1>
        <br>        
        <p>Git stash takes the changes you have made to your working tree ("dirty") and puts them in a holding pattern until you are ready to re-apply them, so you have a fresh working directory ("clean").</p>
        <p>Common use cases for using git stash are:</p>
        <ul>
            <li>Needing to change focus from the task you are currently working on to a new task</li>
            <li>Forgetting to switch working branches</li>
            <li>Needing to apply changes to multiple branches</li>
        </ul>
        <br>
        <h3>How to use git stash</h3>
        <p>The <code>git stash</code> command enables you to store changes that live in the working directory (unstaged changes) and staging area (staged changes) for later use.</p>
        <p>You can also add a descriptive message to stashes with <code>git stash save "message"</code>.</p>
        <p>Once you are ready to retrieve those changes, you can apply and delete them with <code>git pop</code> or apply and continue to store them with <code>git stash apply</code>.</p>
    </section>
</ng-container>