<ng-container>
    <section>
        <h1>Configure tooling</h1>
        <br>        
        <p>Configure user information for all local repositories</p>
        <code-example code='
        $ git config --global user.name "[name]"
        '></code-example>
        <br>
        <p>Sets the name you want attached to your commit transactions</p>
        <code-example code='
        $ git config --global user.email "[email address]"
        '></code-example>
        <br>
        <p>Sets the email you want attached to your commit transactions</p>
        <code-example code='
        $ git config --global color.ui auto
        '></code-example>
        <br>
        <p>Enables helpful colorization of command line output</p>
    </section>
</ng-container>