<ng-container>
    <section>
        <h1>Synchronize changes</h1>
        <br>        
        <p>Synchronize your local repository with the remote repository on GitHub.com</p>
        <code-example code="
        $ git fetch
        "></code-example>
        <br>
        <p>Downloads all history from the remote tracking branches</p>
        <code-example code="
        $ git merge
        "></code-example>
        <br>
        <p>Combines remote tracking branches into current local branch</p>
        <code-example code="
        $ git push
        "></code-example>
        <br>
        <p>Uploads all local branch commits to GitHub</p>
        <code-example code="
        $ git pull
        "></code-example>
        <p>Updates your current local working branch with all new commits from the corresponding remote branch on GitHub. </p>
        <p><code>git pull</code> is a combination of <code>git fetch</code> and <code>git merge</code></p>
    </section>
</ng-container>